$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-star: "\e900";
$icon-home: "\e901";
$icon-images: "\e90e";
$icon-headphones: "\e910";
$icon-music: "\e911";
$icon-library: "\e921";

